.contact-container{
    margin: 4rem 0;
    position: relative;
    margin-top: 100px;
}
.contact-container h5{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3rem;
    margin-left: 100px;
}
.contact-content{
    display: flex;
}
.text-main{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
@media (max-width:500px){
   .text-main{
  justify-content: center;
   }
}

